* {
  outline: none !important;
}

a {
  text-decoration: none;
  display: block;
}

button {
  border-style: none;
}
input {
  text-decoration: none;
  border-style: none;
  background: none;
}
html {
  scroll-behavior: smooth;
}
