@font-face {
 font-family: "EuclidCircularB";
 src: url("../fonts/EuclidCircularB-Medium.woff") format("woff");
 font-weight: 500;
}
@font-face {
 font-family: "EuclidCircularB";
 src: url("../fonts/EuclidCircularB-Light.woff") format("woff");
 font-weight: 300;
}
@font-face {
 font-family: "EuclidCircularB";
 src: url("../fonts/EuclidCircularB-Regular.woff") format("woff");
 font-weight: 400;
}
@font-face {
 font-family: "SangBleuKingdom-Regular";
 src: url("../fonts/SangBleuKingdom-Regular.woff") format("woff")
}
