.button {
  width: 200px;
  height: 64px;

  border-radius: 5px;
  letter-spacing: 0.08em;
  box-sizing: border-box;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: $main-font;
  @include mobile {
    width: 156px;
  }
  &_primary {
    color: #3d3c3c;
    border: 1px solid #d9c287;
    background-color: white;
  }
  &_accent {
    background: linear-gradient(0deg, #bca56a, #bca56a), #86c1db;
    border-radius: 8px;
    color: white;
    border: none;
  }
  &__arrow {
    width: 64px;
    height: 64px;
    border: 1px solid #d9c287;
    box-sizing: border-box;
    border-radius: 50%;
    position: relative;
    @include mobile {
      margin: 0 auto;
      display: block;
    }
    &::after {
      content: url("../images/icons/arrow_down.svg");
    }
    &::before {
      content: "";
      position: absolute;
      top: -72px;
      width: 1px;
      height: 48px;
      background: #d9c287;
      left: 50%;
      transform: translateX(-50%);
      @include mobile {
        display: none;
      }
    }
  }
}
