div.navigation.js-navigation
  div.navigation__header.navigation-header
    button.navigation-header__toggle.js-navigation-header__toggle.navigation-header__toggle_open
      span.navigation-header__button
    div.navigation-header__menu
      a.navigation-header__link О комплексе
      a.navigation-header__link Блог
      a.navigation-header__link FAQ
      a.navigation-header__link Контакты
    div.navigation-header__logo
      include images/logo.svg
    div.navigation-header__lang
      button.lang__switcher.lang__switcher--active RU
      button.lang__switcher ENG
    button.navigation-header__login
      span.login__text Вход
      span.login__icon 
        include images/icons/key.svg
    span.navigation-header__info
      a.navigation-header__phone 8 800 500 6847
  div.navigation__box
    div.navigation__social.navigation-social
      a.social__link.navigation-social__link
        span.social__icon.navigation-social__icon 
          include images/icons/facebook.svg
      a.social__link.navigation-social__link
        span.social__icon.navigation-social__icon 
          include images/icons/twitter.svg
      a.social__link.navigation-social__link
        span.social__icon.navigation-social__icon 
          include images/icons/instagram.svg
    div.menu
      li.menu__link Размещение
      ul.menu__link
        li.menu__link_submenu  Медицина
          include images/icons/submenu_arrow.svg
        div.submenu
          div.submenu__links
            li.submenu__link Клиника персонализированной медицины
            li.submenu__link Медицинский центр
          p.submenu__description Международные стандарты лечения и современные методики в сочетании с высококлассным сервисом и проживанием в одном из лучших семейных курортов мира Mriya Resort & SPA 5* 
      li.menu__link Мероприятия
      li.menu__link Красота и восстановление
      li.menu__link Бары и рестораны
      li.menu__link Развлечения
      li.menu__link Спорт
      li.menu__link Детям
      li.menu__link Транспорт
    span.navigation__info info@mriyaresort.com
    div.navigation__slider.navigation-slider
      div.navigation-slider__dots
        span.navigation-slider__dot.js-navigation-slider__dot
        span.navigation-slider__dot.js-navigation-slider__dot
        span.navigation-slider__dot.js-navigation-slider__dot
      div.navigation-slider__card.navigation-card.js-navigation-slider__item.fade
        img.navigation-card__banner(src="./images/photo.png")
        div.navigation-card__content
          h1.navigation-card__title Антистресс
          p.navigation-card__description 10-21 дня
          button.navigation-card__button.button.button_accent Подробнее
      div.navigation-slider__card.navigation-card.js-navigation-slider__item.fade
        img.navigation-card__banner(src="./images/photo.png")
        div.navigation-card__content
          h1.navigation-card__title Антистресс 2
          p.navigation-card__description 10-21 дня
          button.navigation-card__button.button.button_accent Подробнее
      div.navigation-slider__card.navigation-card.js-navigation-slider__item.fade
        img.navigation-card__banner(src="./images/photo.png")
        div.navigation-card__content
          h1.navigation-card__title Антистресс 3
          p.navigation-card__description 10-21 дня
          button.navigation-card__button.button.button_accent Подробнее
          
      
